{% extends 'base.html' %}

{% block content %}
<h1>Records</h1>
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>Weight</th>
            <th>File 1</th>
            <th>Date of Delivery</th>
            <th>Date of Submission</th>
            <th>Days Late</th>
            <th>Submission to Database</th>
            <th>Shipment Date & Time</th>
            <th>Date of Withdrawal from Bases</th>
            <th>File 2</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.number }}</td>
            <td>{{ record.weight }}</td>
            <td>
                {% if record.file1 %}
                <a href="{{ record.file1.url }}">Download</a>
                {% else %}
                No file
                {% endif %}
            </td>
            <td>{{ record.date_delivery }}</td>
            <td>{{ record.date_submission }}</td>
            <td>{{ record.get_days_late }}</td>
            <td>{{ record.submission_to_database }}</td>
            <td>{{ record.shipment_date_time }}</td>
            <td>{{ record.withdrawal_from_bases }}</td>
            <td>
                {% if record.file2 %}
                <a href="{{ record.file2.url }}">Download</a>
                {% else %}
                No file
                {% endif %}
            </td>
            <td>
                <a href="{% url 'record_update' record.pk %}">Update</a>
                <a href="{% url 'record_delete' record.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'record_create' %}">Create New Record</a>
{% endblock %}